@model List<Slider>
<div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
            @foreach (Slider slide in Model)
            {
                <tr>
                    <th scope="row">@slide.Id</th>
                    <td>@slide.Title</td>
                    <td>@slide.Description</td>
                    <td><img src="@slide.ImageURL"/></td>
                    <td><a asp-action="Update" asp-route-id="@slide.Id">Update</a></td>
                    <td>
                        <form asp-area="Admin"
                              asp-controller="Slider"
                              asp-action="Delete"
                              asp-route-id="@slide.Id"
                              method="post"
                              style="display:inline">
                            <button type="submit" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                        </form>
                    </td>

                </tr>
            }
       
    </tbody>
</table>
</div>